.add-service {
    padding-top: 120px;
  }
  
  .form-container {
    width: 450px;
    margin: 0 auto;
  }
  
  .form-container input,
  textarea {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    border: 1px solid gray;
    outline: none;
  }
  
  .form-container textarea {
    height: 140px;
  }
  
  .addBtn {
    background-color: #ed1c24;
    color: #fff;
    width: 100%;
  }
  
  .addBtn:hover {
    color: #fff;
    background-color: #330b72;
  }
  
  @media only screen and (max-width: 414px) {
    .form-container {
      width: 100%;

    }
  }
  